<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card *ngIf="products.length > 0">

    <img [src]="products[currentIndex].image">

    <ion-card-header>

      <ion-card-title>
        {{ products[currentIndex].title }}
      </ion-card-title>

      <ion-card-subtitle>
        {{ products[currentIndex].category }}
      </ion-card-subtitle>

    </ion-card-header>

    <ion-card-content>

      <p>
        {{ products[currentIndex].description | slice:0:90 }}...
      </p>

      <h2>
        R$ {{ products[currentIndex].price }}
      </h2>

    </ion-card-content>

  </ion-card>

  <div class="buttons">

    <ion-button
      expand="block"
      (click)="previousProduct()"
      [disabled]="currentIndex === 0">

      Anterior

    </ion-button>

    <ion-button
      expand="block"
      (click)="nextProduct()"
      [disabled]="currentIndex === products.length - 1">

      Próximo

    </ion-button>

  </div>

</ion-content>