<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Tela Inicial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>

    <img src="assets/minhafoto.jpg" alt="Minha foto">

    <ion-card-header>

      <ion-card-title>
        Gabriel Da Silva Alves
      </ion-card-title>

      <ion-card-subtitle>
        Análise e Desenvolvimento de Sistemas
      </ion-card-subtitle>

    </ion-card-header>

    <ion-card-content>

      <p><strong>Turma:</strong> ADS0301M </p>

      <p><strong>Unidade:</strong> Campo Grande </p>

      <p><strong>Turno:</strong> Manhã </p>

      <p><strong>Palavra-chave:</strong> ...... </p>

    </ion-card-content>

  </ion-card>

</ion-content>