<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      Todos os Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button
    expand="block"
    (click)="toggleProducts()">

    {{ showProducts ? 'Ocultar Produtos' : 'Mostrar Produtos' }}

  </ion-button>

  <div *ngIf="showProducts">

    <ion-card *ngFor="let product of products">

      <img [src]="product.image">

      <ion-card-header>

        <ion-card-title>
          {{ product.title }}
        </ion-card-title>

        <ion-card-subtitle>
          {{ product.category }}
        </ion-card-subtitle>

      </ion-card-header>

      <ion-card-content>

        <p>
          {{ product.description | slice:0:90 }}...
        </p>

        <h2>
          R$ {{ product.price }}
        </h2>

      </ion-card-content>

    </ion-card>

  </div>

</ion-content>